@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: #000000;
}

.header {
  display: flex;
  height: 55px;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.nav_title,
.nav_main {
  display: inline-block;
}

.nav_title {
  color: #ffffff;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  text-shadow: 0px 0px 10px #5cfaff,
    0px 0px 20px #5cfaff,
    0px 0px 40px #5cfaff,
    0px 0px 80px #5cfaff;
}

.nav_title p {
  display: inline;
  line-height: 55px;
  padding: 0;
}

.nav_title span{
  font-size: 24px;
}

.nav_main {
  margin-left: 300px;
}

.nav_main li {
  display: inline-block;
}

.nav_main li:hover a {
  color: #fc0000;
  text-emphasis-color: #fff;
  display: inline-block;
}

.nav_main li a {
  color: aliceblue;
  line-height: 55px;
  padding: 0 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}



.slider {

  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 2s;
}

.slider .list img {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slider-content h2 {
  color: white;
  font-size: 24px;
}

.slider-content span{
  font-size: 50px
}

.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 3s infinite ease;
  transform-style: preserve-3d;
}

.spinner>div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}


@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}


.slider-content h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}

#content {
  clear: both;
  background-color: #000000;
}

.content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;

}

.section-subheading {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.section-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin-top: 10px;
  color: white;

}

.about-me {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.content-section .list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 800px;
  max-width: 100vw;
  ;
}

.content .list .item1 img,
.content .list .item2 img {

  max-width: 100%;
  height: 400px;
  display: inline;
  margin-bottom: 10px;
}

.content-section .list .item1 img {
  margin-right: 20px;
  width: 380px;
  height: auto;
  filter: drop-shadow(1px 1px 20px #000000);
}

.content-section .list .item2 img {
  margin-left: 10px;
  width: 380px;
  height: 380px;
  filter: drop-shadow(1px 1px 20px #000000);

}

.content .list .item1 p,
.content .list .item2 p {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.experience-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
  position: relative;
  top: 350px;
}

.experience-section .experience-subheading {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.experience-section .experience-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin-top: 10px;
  color: white;
}

.work{
  background-color: #fff;
  display: inline;
}

p {
  font-size: 9px;
}

h3,
h4 {
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
  line-height: 30px;
  top: 350px
}

.container .item {
  --color: #eb904b;
  width: 185px;
  background-color: var(--color);
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow:
    #3c40434d 0px 1px 2px 0px,
    #3c404326 0px 1px 3px 1px;
  position: relative;
  cursor: pointer;
}

.container .item::after{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  height: 70%;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent
  transparent transparent var(--color);
  border-width: 40px 40px 40px 40px;
  filter: drop-shadow(5px 0 4px #00000094);
  transition: filter .5s;
}

.container .item:nth-child(2){
  --color: #816085;
}

.container .item:nth-child(3){
  --color: #119630;
}

.container .layer{
  background-color: #f2f2f2;
  border: 1px solid #fff;
  border-radius: inherit;
  padding: 20px;
  box-shadow: 
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px,;
  position: relative;
  left: 10px;
  transition: left 1s;
}

.container h3{
  font-weight: 700;
  text-align: center;
  color: var(--color);
}

.container h4{
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

.container p{
  color: #555;
}

.container span{
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: var(--color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  box-shadow: 
  #00000012 0px 1px 2px,
  #00000012 0px 2px 4px,
  #00000012 0px 4px 8px,
  #00000012 0px 8px 16px,
  #00000012 0px 16px 32px,
  #00000012 0px 32px 64px,;
  font-size: 14px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.container .item:hover .layer{
  left: 50px;
}

.contact{
  display: flex;
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
  position: relative;
  top: 350px;
}

.contact .contact-subheading {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.contact .contact-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  margin-top: 10px;
  color: white;
}

.contact ul {
  position:absolute;
  top:300px;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

.contact ul li {
  list-style:none;
  margin:0 5px;
}

.contact ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.contact ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.contact ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.contact ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.contact ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.contact ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.contact ul li:hover .fa {
  color:#fff;
}

.contact ul li:hover span {
  color:#fff;
}

.contact ul li:hover:nth-child(1) a{
  background: #3b5998;
}
.contact ul li:hover:nth-child(1) a:before{
  background: #365492;
}
.contact ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

.contact ul li:hover:nth-child(2) a{
  background: #00aced;
}
.contact ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
.contact ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

.contact ul li:hover:nth-child(3) a{
  background: #dd4b39;
}
.contact ul li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
.contact ul li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

.contact ul li:hover:nth-child(4) a{
  background: #e4405f;
}
.contact ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
.contact ul li:hover:nth-child(4) a:after{
  background: #e46880;
}